<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instalacion y mantenimiento de hardware y software</title>
    <link rel="shortcut icon" href="../../Public/Img/Logo.png" class="">
    <link rel="stylesheet" href="../../Public/css/bootstrap.css">
    <link rel="stylesheet" href="../../Public/css/timeline.css">
    <style>
        *{
            font-family: monospace;
        }
        .banner-img{
            background-image: url(../../Public/Img/portadaIns.jpg);
            background-size: cover;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <img src="../../Public/Img/Logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
                    </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li><a class="dropdown-item" href="../../index.html">Inicio</a></li>
                            <!-- Matematica -->
                            <li class="nav-item dropdown mb-3 mt-3">
                                <a class="nav-link dropdown-toggle btn btn-outline-info fs-5 fw-bold" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                    Matematica
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- GeoGebra -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                GeoGebra
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Geogebra.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Geogebra.html#Características">Características básicas</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Geogebra.html#Funciones">Funciones principales</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Geogebra.html#Ventajas">Ventajas y Desventajas</a></li>
                                            </ul>
                                        </li>
                                    <!-- Derivadas -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Derivadas
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item " href="../../Layout/Matematica/Derivadas.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Derivadas.html#usos">Algunos usos</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Derivadas.html#física">Uso en la física</a></li>
                                                <hr>
                                                <p class="text-center">Temas Nuevos</p>
                                                <hr>
                                                <li><a class="dropdown-item " href="../../Layout/Matematica/Derivadas.html#Compuestas">Compuestas</a></li>
                                            </ul>
                                        </li>
                                        <!-- Maximos y minimos -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Maximos y minimos
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item " href="../../Layout/Matematica/MyM.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/MyM.html#Concavidad">Concavidad</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/MyM.html#Punto">Punto de Inflexión</a></li>
                                                <hr>
                                                <li><a class="dropdown-item " href="../../Layout/Matematica/Derivadas.html#Compuestas">Compuestas</a></li>
                                            </ul>
                                        </li>
                                    <!-- Integrales -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Integrales
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Integrales.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Integrales.html#usos">Algunos usos</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Integrales.html#indefinida">Integral indefinida</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Integrales.html#definida">Integral definida</a></li>
                                            </ul>
                                        </li>
                                </ul>
                            </li>    
                            <!-- Redes de Datos -->
                            <li class="nav-item dropdown mb-3">
                                <a class="nav-link dropdown-toggle btn btn-outline-info fs-5 fw-bold" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                    Redes de datos
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- Página web -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Página web
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Pagina-web.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Pagina-web.html#Lenguajes">Lenguajes</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Pagina-web.html#Desarrollo">Desarrollo sostenible</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Pagina-web.html#Internet">Internet</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Pagina-web.html#Comunicación">Comunicación</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Pagina-web.html#Sirve">Para que sirve</a></li>
                                            </ul>
                                        </li>
                                    <!-- proteger -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Proteger identidad en internet
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Proteger-Identidad.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Proteger-Identidad.html#Elementos">Elementos</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Proteger-Identidad.html#Consejos">Consejos </a></li>
                                            </ul>
                                        </li>
                                    <!-- Tecnologia Inalambrica -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Tecnologia Inalambrica
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Tecnologia-Inalambrica.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Tecnologia-Inalambrica.html#Tecnologia">Tecnologias</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Tecnologia-Inalambrica.html#5G">Tecnologia 5G</a></li>
                                            </ul>
                                        </li>
                                </ul>
                            </li>       
                            <!-- Instalacion y Mantenimiento -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle btn btn-outline-info fs-5 fw-bold" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                    Instalacion y Mantenimiento <br> de Hardware y Software
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- Dominio nivel superior -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Dominio de nivel superior
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/Dominio.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/Dominio.html#Fiabilidad">Fiabilidad</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/Dominio.html#Dominios">Dominios de nivel Superior</a></li>
                                            </ul>
                                        </li>
                                    <!-- Netiqueta -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Netiqueta
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/Netiqueta.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/Netiqueta.html#Sirve">Para que sirve</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/Netiqueta.html#Reglas">Reglas </a></li>
                                            </ul>
                                        </li>
                                    <!-- Línea del tiempo -->
                                        <li ><a class="nav-link text-dark px-1" href="Layout/Instalacion/Evolucion.html">Linea del tiempo</a></li>
                                    <!-- SO en Tiempo Real-->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Sistema Operativo en Tiempo Real
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO-TReal.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO-TReal.html#Características">Características</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO-TReal.html#Aplicaciones">Aplicaciones</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO-TReal.html#Campos">Campos de Aplicación</a></li>
                                            </ul>
                                        </li>
                                    <!-- SO Embebido-->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Sistema Operativo Embebido
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO/S.O-Embebido.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO/S.O-Embebido.html#Características">Características</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO/S.O-Embebido.html#Ejemplos">Ejemplos</a></li>
                                            </ul>
                                        </li>
                                    <!-- SO Distribuido-->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Sistema Operativo Distribuido
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO/S.O-Distribuido.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO/S.O-Distribuido.html#Características">Características</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO/S.O-Distribuido.html#Ejemplos">Ejemplos</a></li>
                                            </ul>
                                        </li>
                                </ul>
                            </li>                         
                        </ul>
                    </div>
                </div>
            </div>
        </nav>      
    <!-- Fin Navbar -->
    <!-- Header -->
        <div class="banner-img w-100 vh-100 d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="bg-white rounded-pill shadow-lg bg-opacity-75" >
                    <h1  class="text-center fw-bold text-dark p-2">
                        Instalacion y mantenimiento de <strong>hardware</strong> y <strong>software</strong>
                    </h1>
                    <h2 class="text-center fw-bold text-dark p-2">Evolucion de la computadora</h2>
                </div>
            </div>
        </div>
    <!-- Fin Header -->
        <div class="container-fluid">
            <h1 class="text-center pt-5 mt-5 pb-3 mb-3 text-bg-info text-light">Linea del tiempo</h1>
            <div id="timeline"></div>    
        </div>
    <!-- Js -->
        <script src="../../Public/js/Jquery.js"></script>
        <script src="../../Public/js/Evolucion-pc.js"></script>
        <script src="../../Public/js/bootstrap.bundle.js"></script>
</body>
</html>