<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matematica</title>
    <link rel="shortcut icon" href="../../Public/Img/Logo.png" class="">
    <link rel="stylesheet" href="../../Public/css/bootstrap.css">
    <style>
        *{
            font-family: monospace;
        }
        .banner-img{
            background-image: url(../../Public/Img/portadaMat.jpg);
            background-size: cover;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <img src="../../Public/Img/Logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
                    </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li><a class="dropdown-item" href="../../index.html">Inicio</a></li>
                            <!-- Matematica -->
                            <li class="nav-item dropdown mb-3 mt-3">
                                <a class="nav-link dropdown-toggle btn btn-outline-info fs-5 fw-bold" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                    Matematica
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- GeoGebra -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                GeoGebra
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Geogebra.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Geogebra.html#Características">Características básicas</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Geogebra.html#Funciones">Funciones principales</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Geogebra.html#Ventajas">Ventajas y Desventajas</a></li>
                                            </ul>
                                        </li>
                                    <!-- Derivadas -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Derivadas
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item " href="../../Layout/Matematica/Derivadas.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Derivadas.html#usos">Algunos usos</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Derivadas.html#física">Uso en la física</a></li>
                                                <hr>
                                                <p class="text-center">Temas Nuevos</p>
                                                <hr>
                                                <li><a class="dropdown-item " href="../../Layout/Matematica/Derivadas.html#Compuestas">Compuestas</a></li>
                                            </ul>
                                        </li>
                                        <!-- Maximos y minimos -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Maximos y minimos
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item " href="../../Layout/Matematica/MyM.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/MyM.html#Concavidad">Concavidad</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/MyM.html#Punto">Punto de Inflexión</a></li>
                                                <hr>
                                                <li><a class="dropdown-item " href="../../Layout/Matematica/Derivadas.html#Compuestas">Compuestas</a></li>
                                            </ul>
                                        </li>
                                    <!-- Integrales -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Integrales
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Integrales.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Integrales.html#usos">Algunos usos</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Integrales.html#indefinida">Integral indefinida</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Matematica/Integrales.html#definida">Integral definida</a></li>
                                            </ul>
                                        </li>
                                </ul>
                            </li>    
                            <!-- Redes de Datos -->
                            <li class="nav-item dropdown mb-3">
                                <a class="nav-link dropdown-toggle btn btn-outline-info fs-5 fw-bold" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                    Redes de datos
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- Página web -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Página web
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Pagina-web.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Pagina-web.html#Lenguajes">Lenguajes</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Pagina-web.html#Desarrollo">Desarrollo sostenible</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Pagina-web.html#Internet">Internet</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Pagina-web.html#Comunicación">Comunicación</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Pagina-web.html#Sirve">Para que sirve</a></li>
                                            </ul>
                                        </li>
                                    <!-- proteger -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Proteger identidad en internet
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Proteger-Identidad.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Proteger-Identidad.html#Elementos">Elementos</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Proteger-Identidad.html#Consejos">Consejos </a></li>
                                            </ul>
                                        </li>
                                    <!-- Tecnologia Inalambrica -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Tecnologia Inalambrica
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Tecnologia-Inalambrica.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Tecnologia-Inalambrica.html#Tecnologia">Tecnologias</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Redes/Tecnologia-Inalambrica.html#5G">Tecnologia 5G</a></li>
                                            </ul>
                                        </li>
                                </ul>
                            </li>       
                            <!-- Instalacion y Mantenimiento -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle btn btn-outline-info fs-5 fw-bold" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                    Instalacion y Mantenimiento <br> de Hardware y Software
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- Dominio nivel superior -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Dominio de nivel superior
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/Dominio.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/Dominio.html#Fiabilidad">Fiabilidad</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/Dominio.html#Dominios">Dominios de nivel Superior</a></li>
                                            </ul>
                                        </li>
                                    <!-- Netiqueta -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Netiqueta
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/Netiqueta.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/Netiqueta.html#Sirve">Para que sirve</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/Netiqueta.html#Reglas">Reglas </a></li>
                                            </ul>
                                        </li>
                                    <!-- Línea del tiempo -->
                                        <li ><a class="nav-link text-dark px-1" href="Layout/Instalacion/Evolucion.html">Linea del tiempo</a></li>
                                    <!-- SO en Tiempo Real-->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Sistema Operativo en Tiempo Real
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO-TReal.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO-TReal.html#Características">Características</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO-TReal.html#Aplicaciones">Aplicaciones</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO-TReal.html#Campos">Campos de Aplicación</a></li>
                                            </ul>
                                        </li>
                                    <!-- SO Embebido-->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Sistema Operativo Embebido
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO/S.O-Embebido.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO/S.O-Embebido.html#Características">Características</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO/S.O-Embebido.html#Ejemplos">Ejemplos</a></li>
                                            </ul>
                                        </li>
                                    <!-- SO Distribuido-->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Sistema Operativo Distribuido
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO/S.O-Distribuido.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO/S.O-Distribuido.html#Características">Características</a></li>
                                                <li><a class="dropdown-item" href="../../Layout/Instalacion/SO/S.O-Distribuido.html#Ejemplos">Ejemplos</a></li>
                                            </ul>
                                        </li>
                                </ul>
                            </li>                         
                        </ul>
                    </div>
                </div>
            </div>
        </nav>      
    <!-- Fin Navbar -->
    <!-- Header -->
        <div class="banner-img vw-100 vh-100 d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="bg-white rounded-pill shadow-lg bg-opacity-75" >
                    <h1  class="text-center fw-bold text-dark p-2" >
                        Matemática
                    </h1>
                    <h2 class="text-center fw-bold text-dark p-2">Maximos y Minimos</h2>
                </div>
            </div>
        </div>
    <!-- Fin Header -->
    <div class="container pt-5">
        <!-- Concepto -->
            <div class="card mb-3" id="Concepto">
                <div class="row g-0">
                    
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title fs-2 text-danger">Concepto</h5>
                            <hr>
                            <p class="card-text fs-4">
                                Los máximos y mínimos son puntos críticos en una función donde esta alcanza sus valores más altos (máximos) o más bajos (mínimos). Estos puntos pueden ser locales (relativos) o globales (absolutos). <strong>Un máximo local es un punto donde la función es más alta en un pequeño vecindario, pero no necesariamente en todo el dominio. Un máximo global es el punto más alto en toda la función. </strong>De manera similar <strong>un mínimo local es un punto donde la función es más baja en un vecindario, pero no necesariamente en todo el dominio, y un mínimo global es el punto más bajo en toda la función.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../../Public/Img/Assets/Matematica/MMyMM.png" class="img-fluid rounded-start mt-5 pt-5" alt="...">
                    </div>
                </div>
            </div>
    <!-- Concavidad  -->
        <div class="card mt-5 pt-2 bg-light" id="Concavidad">
            <h2 class="text-center">Concavidad</h2>
            <p class="card-text fs-5 ps-5 px-5">
                <strong>Concepto:</strong> La concavidad es un concepto que se utiliza en matemáticas y análisis para describir la forma de una curva o una función en un gráfico. Se refiere a si la curva se dobla hacia arriba o hacia abajo en un punto particular. Hay dos tipos de concavidad principales:<strong> concavidad hacia arriba y concavidad hacia abajo.</strong>
            </p>    
        <hr>
            <div class="card mb-3">
                <div class="row g-0">
                    <!-- Concavidad hacia Arriba -->
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title fs-2 text-center text-info">Concavidad hacia Arriba</h5>
                                <hr>
                                <p class="card-text fs-3">
                                    <ul class="list-group list-group-numbered">
                                        <li class="list-group-item">
                                            <strong class="text-success">Concepto</strong>: Una función o curva se dice que tiene concavidad hacia arriba en un intervalo si, al trazarla en ese intervalo, la curva se dobla hacia arriba, como si formara una "U" invertida. Esto significa que la segunda derivada de la función es positiva en ese intervalo.
                                        </li>
                                        <li class="list-group-item"> 
                                            <strong class="text-success fs-5">Una función f(x) tiene concavidad hacia arriba</strong> en un intervalo [a, b] si f''(x) > 0 para todo x en ese intervalo. Las funciones cóncavas hacia arriba tienden a tener mínimos locales en esos intervalos.
                                        </li>
                                    </ul>
                                    <img src="../../Public/Img/Assets/Matematica/Concava-Arriba.jpg" class="img-fluid rounded-start ms-5 ps-5" alt="...">
                                </p>
                            </div>
                        </div>
                    <!-- Concavidad hacia abajo -->
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title fs-2 text-center text-danger">Concavidad hacia abajo</h5>
                                <hr>
                                <p class="card-text fs-3">
                                    <ul class="list-group list-group-numbered">
                                        <li class="list-group-item">
                                            <strong class="text-success fs-5">Concepto</strong>: Una función o curva se dice que tiene concavidad hacia abajo en un intervalo si, al trazarla en ese intervalo, la curva se dobla hacia abajo, como si formara una "U" regular. Esto significa que la segunda derivada de la función es negativa en ese intervalo.
                                        </li>
                                        <li class="list-group-item">
                                            <strong class="text-success fs-5">una función f(x) tiene concavidad hacia abajo </strong> en un intervalo [a, b] si f''(x) < 0 para todo x en ese intervalo. Las funciones cóncavas hacia abajo tienden a tener máximos locales en esos intervalos.
                                        </li>
                                    </ul>
                                    <img src="../../Public/Img/Assets/Matematica/Concava-Abajo.jpg" class="img-fluid rounded-start ms-5 ps-5" alt="...">
                                </p>
                            </div>
                        </div>
                        <hr>
                            <h1 class="text-center text-warning">Punto de inflexión</h1>
                            <p class="card-text fs-4 ps-5 px-5 pb-5">
                                Un punto de inflexión es un punto en una función donde la concavidad cambia de cóncava hacia arriba a cóncava hacia abajo, o viceversa. En un punto de inflexión, la segunda derivada de la función es igual a cero. Los puntos de inflexión indican un cambio en la dirección de la curvatura de la función, y la función pasa de ser cóncava hacia arriba a cóncava hacia abajo o viceversa en ese punto.
                            </p>
                            <div class="d-flex justify-content-center">
                                <img src="../../Public/Img/Assets/Matematica/P-MyM.svg" class="rounded-start " style="width: 50%;">
                            </div>
                            
                </div>
            </div>
        </div>

        
        
        
    <!-- Js -->
        <script src="../../Public/js/Jquery.js"></script>
        <script src="../../Public/js/bootstrap.bundle.js"></script>
</body>
</html>