<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instalacion y mantenimiento de hardware y software</title>
    <link rel="shortcut icon" href="../../../Public/Img/Logo.png" class="">
    <link rel="stylesheet" href="../../../Public/css/bootstrap.css">
    <style>
        *{
            font-family: monospace;
        }
        .banner-img{
            background-image: url(../../../Public/Img/portadaIns.jpg);
            background-size: cover;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container">
                    <a class="navbar-brand" href="../../../index.html">
                        <img src="../../../Public/Img/Logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
                    </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li><a class="dropdown-item" href="../../../index.html">Inicio</a></li>
                            <!-- Matematica -->
                            <li class="nav-item dropdown mb-3 mt-3">
                                <a class="nav-link dropdown-toggle btn btn-outline-info fs-5 fw-bold" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                    Matematica
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- GeoGebra -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                GeoGebra
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../../Layout/Matematica/Geogebra.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Matematica/Geogebra.html#Características">Características básicas</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Matematica/Geogebra.html#Funciones">Funciones principales</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Matematica/Geogebra.html#Ventajas">Ventajas y Desventajas</a></li>
                                            </ul>
                                        </li>
                                    <!-- Derivadas -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Derivadas
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../../Layout/Matematica/Derivadas.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Matematica/Derivadas.html#usos">Algunos usos</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Matematica/Derivadas.html#física">Uso en la física</a></li>
                                                <hr>
                                                <p class="text-center">Temas Nuevos</p>
                                                <hr>
                                                <li><a class="dropdown-item " href="../../../Layout/Matematica/Derivadas.html#Compuestas">Compuestas</a></li>
                                            </ul>
                                        </li>
                                        <!-- Maximos y minimos -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Maximos y minimos
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../../Layout/Matematica/MyM.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Matematica/MyM.html#Concavidad">Concavidad</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Matematica/MyM.html#Punto">Punto de Inflexión</a></li>
                                                <hr>
                                                <li><a class="dropdown-item " href="../../../Layout/Matematica/Derivadas.html#Compuestas">Compuestas</a></li>
                                            </ul>
                                        </li>
                                    <!-- Integrales -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Integrales
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../../Layout/Matematica/Integrales.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Matematica/Integrales.html#usos">Algunos usos</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Matematica/Integrales.html#indefinida">Integral indefinida</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Matematica/Integrales.html#definida">Integral definida</a></li>
                                            </ul>
                                        </li>
                                </ul>
                            </li>    
                            <!-- Redes de Datos -->
                            <li class="nav-item dropdown mb-3">
                                <a class="nav-link dropdown-toggle btn btn-outline-info fs-5 fw-bold" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                    Redes de datos
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- Página web -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Página web
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../../Layout/Redes/Pagina-web.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Redes/Pagina-web.html#Lenguajes">Lenguajes</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Redes/Pagina-web.html#Desarrollo">Desarrollo sostenible</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Redes/Pagina-web.html#Internet">Internet</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Redes/Pagina-web.html#Comunicación">Comunicación</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Redes/Pagina-web.html#Sirve">Para que sirve</a></li>
                                            </ul>
                                        </li>
                                    <!-- proteger -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Proteger identidad en internet
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../../Layout/Redes/Proteger-Identidad.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Redes/Proteger-Identidad.html#Elementos">Elementos</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Redes/Proteger-Identidad.html#Consejos">Consejos </a></li>
                                            </ul>
                                        </li>
                                    <!-- Tecnologia Inalambrica -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Tecnologia Inalambrica
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../../Layout/Redes/Tecnologia-Inalambrica.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Redes/Tecnologia-Inalambrica.html#Tecnologia">Tecnologias</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Redes/Tecnologia-Inalambrica.html#5G">Tecnologia 5G</a></li>
                                            </ul>
                                        </li>
                                </ul>
                            </li>       
                            <!-- Instalacion y Mantenimiento -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle btn btn-outline-info fs-5 fw-bold" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                    Instalacion y Mantenimiento <br> de Hardware y Software
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- Dominio nivel superior -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Dominio de nivel superior
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../../Layout/Instalacion/Dominio.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Instalacion/Dominio.html#Fiabilidad">Fiabilidad</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Instalacion/Dominio.html#Dominios">Dominios de nivel Superior</a></li>
                                            </ul>
                                        </li>
                                    <!-- Netiqueta -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Netiqueta
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../../Layout/Instalacion/Netiqueta.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Instalacion/Netiqueta.html#Sirve">Para que sirve</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Instalacion/Netiqueta.html#Reglas">Reglas </a></li>
                                            </ul>
                                        </li>
                                    <!-- Línea del tiempo -->
                                        <li ><a class="nav-link text-dark px-1" href="Layout/Instalacion/Evolucion.html">Linea del tiempo</a></li>
                                    <!-- SO en Tiempo Real-->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Sistema Operativo en Tiempo Real
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../../Layout/Instalacion/SO-TReal.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Instalacion/SO-TReal.html#Características">Características</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Instalacion/SO-TReal.html#Aplicaciones">Aplicaciones</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Instalacion/SO-TReal.html#Campos">Campos de Aplicación</a></li>
                                            </ul>
                                        </li>
                                    <!-- SO Embebido-->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Sistema Operativo Embebido
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../../Layout/Instalacion/SO/S.O-Embebido.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Instalacion/SO/S.O-Embebido.html#Características">Características</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Instalacion/SO/S.O-Embebido.html#Ejemplos">Ejemplos</a></li>
                                            </ul>
                                        </li>
                                    <!-- SO Distribuido-->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark px-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                                Sistema Operativo Distribuido
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="../../../Layout/Instalacion/SO/S.O-Distribuido.html#Concepto">Concepto</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Instalacion/SO/S.O-Distribuido.html#Características">Características</a></li>
                                                <li><a class="dropdown-item" href="../../../Layout/Instalacion/SO/S.O-Distribuido.html#Ejemplos">Ejemplos</a></li>
                                            </ul>
                                        </li>
                                </ul>
                            </li>                         
                        </ul>
                    </div>
                </div>
            </div>
        </nav>      
    <!-- Fin Navbar -->
    <!-- Header -->
        <div class="banner-img w-100 vh-100 d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="bg-white rounded-pill shadow-lg bg-opacity-75" >
                    <h1  class="text-center fw-bold text-dark p-2">
                        Instalacion y mantenimiento de <strong>hardware</strong> y <strong>software</strong>
                    </h1>
                    <h2 class="text-center fw-bold text-dark p-2">Sistema <strong>Embebido</strong></h2>
                </div>
            </div>
        </div>
    <!-- Fin Header -->
    <div class="container pt-5">
        <!-- Concepto -->
            <div class="card mb-3" id="Concepto">
                <div class="row g-0">
                    <div class="col-md-1"></div>
                    <!-- Texto -->
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title fs-2 text-bg-info">Concepto</h5>
                            <hr>
                            <p class="card-text fs-4">
                                Un sistema embebido, también conocido como sistema empotrado o sistema integrado, es un sistema de cómputo diseñado para realizar tareas específicas o funciones dedicadas, generalmente en un dispositivo o sistema más amplio. A diferencia de las computadoras personales convencionales, que están diseñadas para ejecutar una amplia gama de aplicaciones, los sistemas embebidos están destinados a cumplir un propósito particular y, a menudo, funcionan sin la interacción directa del usuario.
                            </p>
                        </div>
                    </div>
                    <!-- Img -->
                    <div class="col-md-4">
                        <img src="../../../Public/Img/Assets/Ins/SO/Embebido/embebido-concepto.png" class="img-fluid rounded-start mt-5 pt-5" alt="...">
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            
        <!-- Características -->
            <div class="card mt-5 bg-light mb-5" id="Características">
                <h1 class="text-center bg-light"><strong class="text-info">Características</strong></h1>
                <div class="card ">
                    <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <p class="card-text">
                                        <ul class="list-group list-group-numbered">
                                            <li class="list-group-item fs-5">
                                                <strong class="text-success fs-4">Limitación de recursos</strong>: Los sistemas embebidos a menudo tienen recursos limitados, como procesadores, memoria y almacenamiento, ya que se optimizan para su tarea específica y no necesitan la versatilidad y potencia de las computadoras personales.
                                            </li>
                                            <li class="list-group-item fs-5">
                                                <strong class="text-success fs-4">Tiempo real</strong>: Muchos sistemas embebidos funcionan en tiempo real, lo que significa que deben responder a eventos y entradas en un plazo determinado. Esto es fundamental en aplicaciones críticas, como el control de vuelo, donde la latencia es crítica.
                                            </li>
                                            <li class="list-group-item fs-5">
                                                <strong class="text-success fs-4">Conectividad y redes:</strong>: A medida que la tecnología avanza, muchos sistemas embebidos están incorporando capacidades de conectividad para comunicarse con otros dispositivos o sistemas, lo que permite la creación de sistemas más interconectados.
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        <!-- Ejemplos -->
            <div class="card mt-5 mb-5 pt-5" id="Ejemplos">
                <h1 class="text-center text-bg-info">Ejemplos</h1>
                <!-- Sistema de Navegación GPS en Automóviles -->
                <div class="row g-0 p-3">
                    <div class="col-md-4">
                        <img src="../../../Public/Img/Assets/Ins/SO/Embebido/gps.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title fs-2 text-info">Sistema de Navegación GPS en Automóviles</h5>
                            <hr>
                            <p class="card-text fs-3">
                                Los sistemas de navegación integrados en vehículos, como los sistemas de GPS, son ejemplos de sistemas embebidos. Estos sistemas están diseñados para proporcionar indicaciones de navegación, información de tráfico en tiempo real y otros servicios relacionados con la conducción, todo en un paquete integrado en el automóvil. Funcionan en tiempo real para ayudar a los conductores a navegar por rutas y llegar a su destino.
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Electrodomésticos Inteligentes -->
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title fs-2 text-info">Electrodomésticos Inteligentes</h5>
                            <hr>
                            <p class="card-text fs-3">
                                Muchos electrodomésticos modernos, como lavadoras, refrigeradores y hornos, utilizan sistemas embebidos para automatizar tareas y brindar funcionalidades avanzadas. Por ejemplo, un horno con sistema embebido puede ofrecer funciones de cocina programable y control de temperatura preciso, mientras que una lavadora inteligente puede ajustar automáticamente ciclos de lavado y consumo de agua según las necesidades.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="../../../Public/Img/Assets/Ins/SO/Embebido/Smarts.webp" class="img-fluid rounded-start" alt="...">
                    </div>
                </div>
                <hr>
                <!-- Dispositivos Médicos -->
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../../Public/Img/Assets/Ins/SO/Embebido/Medico.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title fs-2 text-info">Dispositivos Médicos</h5>
                            <hr>
                            <p class="card-text fs-3">
                                Dispositivos multimedia, como reproductores de DVD y sistemas de entretenimiento en el automóvil.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
    <!-- Js -->
        <script src="../../../Public/js/Jquery.js"></script>
        <script src="../../../Public/js/bootstrap.bundle.js"></script>
</body>
</html>